fastapi
chromadb
ddgs
duckduckgo-search
langchain-core
langchain-community
langchain-huggingface
langchain-openai
langgraph
pandas
pydantic
python-dotenv
requests
sentence-transformers
streamlit
uvicorn[standard]
